<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.addonsdemo/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.addonsdemo.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="TestNotificationApiScreen"
              caption="msg://com.company.addonsdemo.screen.testnotificationapi/testNotificationApiScreen.caption"/>
        <item screen="ImportCalendar"
              caption="msg://com.company.addonsdemo.screen.importcalendar/importCalendar.caption"/>
        <item screen="BuscalApiScreen" caption="msg://com.company.addonsdemo.screen.buscalapi/buscalApiScreen.caption"/>
    </menu>

</menu-config>